/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-primary: var(--mat-sys-primary);
  --color-on-primary: var(--mat-sys-on-primary);
  --color-secondary: var(--mat-sys-secondary);
  --color-on-secondary: var(--mat-sys-on-secondary);
  --color-tertiary: var(--mat-sys-tertiary);
  --color-on-tertiary: var(--mat-sys-on-tertiary);
  --color-surface: var(--mat-sys-surface);
  --color-on-surface: var(--mat-sys-on-surface);
  
  --glass-bg: rgba(255, 255, 255, 0.7);
  --glass-border: rgba(255, 255, 255, 0.3);
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  .dark {
    --glass-bg: rgba(15, 23, 42, 0.7);
    --glass-border: rgba(15, 23, 42, 0.3);
  }
}

